<div class="modal-header text-dark" id="exampleModal">
    <img [attr.src]="imgUrl" width="50" class="img-fluid me-2">
    <h4 class="modal-title" id="confirm-modal-titulo">{{titulo}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body text-dark">    
    <!--Mostrar la galería de fotos o, si no tiene galería, mostrar imagen principal del proyecto-->
    <div *ngIf="galeria != null && galeria.length > 0; else sinGaleria" class="galeria">
        <div class="row me-1 ms-1">
            <span class="text-center fs-3">Galería <i class="fas fa-camera"></i></span>
        </div> 
        
        <div class="text-center"> <!--[spaceBetween]="-180"-->
            <swiper 
            [slidesPerView]="4"             
            [centeredSlides]="true"
            [spaceBetween]="0"
            [autoplay]="{ delay: 1000, disableOnInteraction: false}" 
            [pagination]="{ clickable: true }"
            [navigation]="true"
            [loop]="true">
                <ng-template swiperSlide *ngFor="let image of galeria; let index=index">
                    <a [attr.href]="image" data-lightbox="photos" [attr.alt]="'img-'+index">
                        <img class="img-fluid my-1" [attr.src]="image" width="150"> <!--width="150"-->
                    </a>
                </ng-template>
                
            </swiper>
        </div>
    </div>    
    <ng-template #sinGaleria>                                
        <img [attr.src]="imgUrl" width="150" class="img-fluid mx-auto d-block" alt="img-Proyecto">
    </ng-template>
    <!--Mostrar descripcion-->
    <p class="mt-4" style="white-space: pre-wrap">{{descripcion}}</p>
   
    <!--Mostrar demo-->    
    <div *ngIf="linkDemo != ''">
        <p class="mt-4">Link demostración: <a [attr.href]="linkDemo" target="_blank">{{linkDemo}}</a></p>
        <div *ngIf="credenciales != ''">
            <p class="mt-4" style="white-space: pre-wrap">{{credenciales}}</p>
        </div>
    </div>
    

    <!--Mostrar listado de caracteristicas si es que tienen-->
    <div *ngIf="caracteristicas != null && caracteristicas.length > 0">
        <div class="row me-1 ms-1">
            <span class="text-center fs-3">Características</span>
        </div>  
        <ul class="list-group">         
            <div *ngFor="let i of caracteristicas">
                <li class="list-group-item list-group-item-success"><i class="fas fa-check"></i> {{i}}</li>            
            </div>            
        </ul>
    </div>
</div>
<div class="modal-footer d-flex justify-content-center bg-light">
    <button type="button" class="btn btn-warning border-0" id="modal-btn-si" (click)="onActionTake()"><span class="ml-5 mr-5">Cerrar</span></button>    
</div>