<app-menu></app-menu>

<div class="row h-100 me-1 ms-1">
    <div class="col-sm-6 col-md-7 offset-md-1 my-auto" data-aos="fade-up" data-aos-duration="1000">        
        <p class="fs-3">Hola, soy Guido Gabriel Rojas.</p><br/>        
        <p class="font-size"><b>Analista Programador Universitario.</b></p><br/>        
        <p class="lh-lg">Programador desde la infancia, empezando con proyectos para servidores multijugadores en lenguajes Pawno, pasando por aplicicaciones de escritorio en C# y SQL Server creadas en Visual Studio (2006/2007/2019) hasta desarrollador de aplicaciones web con Angular.<br/><br/>
        Finalizó sus estudios en la Universidad Nacional de Jujuy (UNJu) y ahora emprendiendo en su nuevo proyecto <a href="https://pawno-sistemas.ga" class="text-orange" target="_blank">pawno-sistema.ga</a>, dedicado al desarrollo de aplicaciones web.<br/>
        Siempre aprendiendo cosas nuevas, inspirado en poder hacer la vida mas sencillas a las personas por medio de sus desarrollos.</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 my-auto " data-aos="fade-right" data-aos-duration="1000"> <!--d-none d-sm-block-->
        <img src="../../../assets/img/yo.png" alt="ImgPortada" class="img-fluid">
    </div>
</div>
<app-footer></app-footer>