<app-menu></app-menu>

<div class="row h-100 me-1 ms-1">
    <div class="col-sm-6 col-md-7 offset-md-1 my-auto" data-aos="fade-up" data-aos-duration="1000">        
        <p class="fs-3">Hi, I'm Wolfete.</p><br/>        
        <p class="font-size"><b>Designer. Product Person.</b></p><br/>        
        <p class="lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, delectus non fugit officia voluptates ipsa nesciunt asperiores suscipit.<br/>
        Product Design Director on the team behind <a href="https://pawno-sistemas.ga" class="text-warning" target="_blank">pawno-sistema.ga</a>.<br/>
        Less moody in real life. ✌️        
    </div>
    <div class="col-sm-6 col-md-3 my-auto d-none d-sm-block" data-aos="fade-right" data-aos-duration="1000">
        <img src="../../../assets/img/yo.png" alt="ImgPortada" class="img-fluid">
    </div>
</div>
<app-footer></app-footer>