<app-menu></app-menu>

<div class="row h-100 me-1 ms-1">
    <div class="col-sm-6 col-md-6 offset-md-1 my-auto" data-aos="fade-up" data-aos-duration="1000">        
        <p class="fs-3">Hola, soy Guido Gabriel Rojas.</p><br/>        
        <p class="font-size"><b>Analista Programador Universitario.</b></p><br/>        
        <p class="lh-lg">Programador desde la infancia, empezando con proyectos para servidores multijugadores, pasando por aplicaciones de escritorio en C# y SQL Server creadas en Visual Studio (2006/2007/2019) hasta desarrollador de aplicaciones web con Angular.<br/><br/>
        Finalizó sus estudios en la Universidad Nacional de Jujuy (UNJu) y ahora se encuentra emprendiendo en un nuevo proyecto dedicado al desarrollo de aplicaciones web: <a href="https://pawno-sistemas.ga" class="text-orange fw-bold" target="_blank">Pawno Scripting</a>, nombrado así en honor al primer lenguaje de programación aprendido.<br/><br/>
        Siempre aprendiendo cosas nuevas, inspirado en poder hacer la vida más sencillas a las personas por medio de sus desarrollos.</p>
    </div>
    <div class="col-sm-6 col-md-4 offset-md-1 col-lg-3 my-auto " data-aos="fade-right" data-aos-duration="1000"> <!--d-none d-sm-block-->
        <img src="../../../assets/img/yo.png" alt="ImgPortada" class="img-fluid">
    </div>
</div>
<app-footer></app-footer>