<app-menu></app-menu>

<div class="row ms-1 me-1 my-5">
    <div class="col-12 text-center fade-in">
        <h1>
            Trabajos que he realizado
        </h1>
        <p>
            Un breve vistazo a algunas experiencias que he tenido.
        </p>
    </div>
    <div class="d-flex flex-column">

        <div *ngFor="let p of proyectoService.getProyectos()">
            <!--Card para mostrar el proyecto-->
            <div class="card mt-4 mx-3" data-aos="fade-up" data-aos-duration="750" data-aos-once="true"> 
                <!--Nombre del proyecto-->
                <div class="card-header text-dark">
                    <p class="h2 mt-3">{{p.nombre}}</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-9 text-dark">
                            <!--Imagen en Móvil-->
                            <div class="row">
                                <div class="col text-center">
                                    <img [attr.src]="p.imgUrl" class="img-fluid d-md-none d-lg-none image-fade" width="180" alt="Logo-Mini" (click)="verMas(p)">
                                </div>                                
                            </div>                            
                            <!--Descripcion del proyecto-->
                            <div *ngIf="p.descripcion.length < largoTexto; else mostrardDescripcionCorta">
                                <p class="h4 pre" style="text-align: justify">{{p.descripcion}}</p>
                            </div>
                            <ng-template #mostrardDescripcionCorta>                                
                                <p class="h4 pre" style="text-align: justify">{{acortarTexto(p.descripcion)}} ...</p>
                                <span class="link-primary text-decoration-underline" (click)="verMas(p)" style="cursor: pointer;">Leer más...</span>
                            </ng-template>
                        </div>                        
                        <!--Imagen de Escritorio-->
                        <div class="col p-2"> 
                            <img [attr.alt]="p.imgUrl" [attr.src]="p.imgUrl" width="300" class="mx-auto d-none d-md-block d-lg-block image-fade" (click)="verMas(p)">
                        </div>   
                    </div>                    
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 col-6 col-sm-3 col-md-2">
                        <button type="button" class="btn btn-warning" (click)="verMas(p)">Ver más...</button>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>