<div class="container-fluid">    
    <div class="row h-100">
        <div class="col-12 h-100 bg-warning text-center">
            <span class="fs-1 align-middle">Redes Sociales</span>
        </div>
    </div>    
    <div class="row text-center">
        <div class="col bg-primary">
            <span class="align-middle">Facebook</span>
        </div>
        <div class="col bg-success">
            GitHub
        </div>
        <div class="col bg-danger">
            PawnoScripting
        </div>
        <div class="col bg-secondary">
            Correo
        </div>
    </div>
</div>