
<nav class="navbar navbar-expand-md navbar-light border-bottom border-dark sticky-top">    
    <div class="container-fluid">
        <div class="d-flex">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>            
            </button>
            <img src="../../../assets/img/G.jpg" alt="Logo" class="ms-2 d-flex d-md-none d-lg-none">
        </div>
        <a class="navbar-brand d-none d-md-block d-lg-block" href="#" [routerLink]="'/inicio'">
            <img src="../../../assets/img/G.jpg" alt="Logo">
        </a>

        <div class="d-flex d-md-none d-lg-none">
            <div class="d-flex flex-row-reverse redes-sociales">
                <!--<a href="https://pawno-sistemas.ga/" target="_blank">
                    <img src="../../../assets/img/logo.png" alt="Logo" width="30px">
                </a>-->
                <a class="link-light" href="#" [routerLink]="'/contacto'" target="_blank">
                    <i class="fas fa-envelope fa-2x me-2"></i>
                </a>                
                <a href="https://www.facebook.com/Wolf.NightClub/" target="_blank">
                    <i class="fab fa-facebook fa-2x me-2"></i>
                </a>                
                <a href="https://www.linkedin.com/in/rojas-guidog/" target="_blank">
                    <i class="fab fa-linkedin fa-2x me-2"></i>
                </a>                
                <a class="link-light" href="https://github.com/GROVE4L" target="_blank">
                    <i class="fab fa-github fa-2x me-2"></i>                
                </a>                            
            </div>
        </div>    

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item fw-bold" [class.active]="router.url==='/inicio' || router.url==='/'">
                    <a class="nav-link me-5" href="#" [routerLink]="'/inicio'">Inicio</a>
                </li>                
                <li class="nav-item fw-bold me-5" [class.active]="router.url==='/trabajos'">
                    <a class="nav-link" href="#" [routerLink]="'/trabajos'">Trabajos</a>
                </li>
                <li class="nav-item fw-bold me-5" [class.active]="router.url==='/contacto'">
                    <a class="nav-link" href="#" [routerLink]="'/contacto'">Contacto</a>
                </li>                
            </ul>    
        </div>

        <div class="d-none d-md-block d-lg-block">
            <div class="d-flex flex-row-reverse redes-sociales">
                <!--<a href="https://pawno-sistemas.ga/" target="_blank">
                    <img src="../../../assets/img/logo.png" alt="Logo" width="30px">
                </a>-->
                <a class="link-light" href="#" [routerLink]="'/contacto'" target="_blank">
                    <i class="fas fa-envelope fa-2x me-2"></i>
                </a>                
                <a class="link-light" href="https://www.facebook.com/Wolf.NightClub/" target="_blank">
                    <i class="fab fa-facebook fa-2x me-2"></i>
                </a>                
                <a class="link-light" href="https://www.linkedin.com/in/rojas-guidog/" target="_blank">
                    <i class="fab fa-linkedin fa-2x me-2"></i>
                </a>                
                <a class="link-light" href="https://github.com/GROVE4L" target="_blank">
                    <i class="fab fa-github fa-2x me-2"></i>                
                </a>                            
            </div>
        </div>
    
    </div>
</nav> 